@import 'tailwindcss';

:root {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --background-primary: #394508;
    --background-secondary: #619111;
    --background-tertiary: #d2fd9c;
    --background-accent: #ededed;
}

@theme {
    --font-sans: var(--font-sans);

    --color-primary: var(--background-primary);
    --color-secondary: var(--background-secondary);
    --color-tertiary: var(--background-tertiary);
    --color-foreground-secondary: var(--foreground-secondary);
}
